<a routerLink="/" routerLinkActive ="active">Inicio</a>
<a routerLink="profile" routerLinkActive ="active" *ngIf="authService.logIn">Perfil</a>
<a routerLink="login" routerLinkActive="active" *ngIf="!authService.logIn">Login</a>
<a class="nav-link" (click)="logout()" href="#" *ngIf="authService.logIn">Logout</a>

// hay que configurar las rutas de acceso y etiquetas reactivas del formulario 
<h1 class="mb-5">Iniciar Sesión</h1>
<form [formGroup]= "form" class="mb-5"(ngSubmit)="onEnviar($event)" >
  <div class= "mb-3">
    <label for= "exampleInputEmail1" class="form-label">Email </label>
    <input type="email"  formControlName="email"
    [ngClass]="{'is-valid': Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched }"
    class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
       
  <div *ngIf="Email?.errors && Email?.touched">
    <p *NgIf="Email?.hasErrors('required')" class="text-danger" >
      El email es requerido.
    </p>
    <p *NgIf="Email?.hasErrors('email')" class="text-danger" >
      El formato del mail debe ser válido.
    </p>
    </div> 
  </div>
  <div class="mb-3"> 
    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
    <input type="password" formControlName="password" 
    [ngClass]="{'is-valid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched }"
    class="form-control" id="exampleInputPassword1">
    <div *ngIf="Password?.errors && Password?.touched">
      <p *NgIf="Password?.hasErrors('required')" class="text-danger" >
        La contraseña es requerida.
      </p>
      <p *NgIf="Password?.errors?.minlength" class="text-danger" >
        La contraseña debe contener al menos 8 caracteres.
      </p>
      </div> 
  </div>
 
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>