//!src="assets/img/foto_perfil_mayo_2022.jpg"--> [!src]="miPortfolio.imagen-header"---> Data binding de img
<header class="masthead background: #66999 url(insertar imagen de monte grande 5500x3600px ) center center cover no-repeat fixed text-white text-center">
      <div class="container d-flex align-items-center flex-column">

        <img class="img-fluid rounded mb-5" src="assets/img/foto_perfil_mayo_2022.jpg" alt="foto perfil" />
    
          
          <h1 class="masthead-heading text-uppercase mb-0">Julia Lagleyze</h1>
          <!-- Icon Divider-->
          <div class="divider-custom divider-light">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
              <div class="divider-custom-line"></div>
          </div>
          <!-- Masthead Subheading-->
          <p class="masthead-subheading font-weight-light mb-0">Full Stack Developer Jr.</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="foto-fondo"><img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJb23VR9rPc8DRQXidbpgJPUBY_C07l_04TyATpEEoFjGFr016vOT8YQePGLh2y2-d6Jk&usqp=CAU"  class= "img-fluid" width="120px" height="60px"  alt="foto de fondo "></div>
        </div>
        
        <p class= "resaltado_derecha">La tierra será el paraíso</p>
      </div>
       
  </header>
   

 
 

 
 
 
