
<section>
    <div class="container"> 
      <div class="container_header "><h3 class="text-white">HABILIDADES </h3></div>

      <h4 class="bg-#eaf0ef text-dark">HARD</h4>
     
     <div class="row justify-content-center skills-wrapper">
         
       <div class="skill">
           <div class="content">
             <span>90%</span>
             <span>OFFICE</span>
           </div>
       </div>
       
       
         <div class="skill">
           <div class="content">
             <span>60%</span>
             <span>JAVA</span>
           </div>
         </div>  
     
       
         <div class="skill">
           <div class="content">
             <span>70%</span>
             <span>SQL</span>
           </div>
         </div>
       
       </div>
    </div>
   
    <div class="container"> 
   
     <h4 class="bg-#eaf0ef text-dark">IDIOMAS</h4>
   
    <div class="row justify-content-center skills-wrapper">
         
     <div class="skill">
         <div class="content">
           <span>95%</span>
           <span>INGLES</span>
         </div>
     </div>
     
     <div class="skill">
         <div class="content">
           <span>70%</span>
           <span>FRANCÉS</span>
         </div>
       </div>  
   
     
       <div class="skill">
         <div class="content">
           <span>60%</span>
           <span>ITALIANO</span>
         </div>
       </div>
     
     </div>
   </div>
       
   <div class="container">
       <h4  classs= "bg-#eaf0ef.bg-gradient text-dark">SOFT</h4>
        
     <div class=" row justify-content-center skills-wrapper">
   
         <div class="skill">
           <div class="content">
             <span>95%</span>
             <span>Actitud <br> Positiva
             </span>
           </div>
         </div>
   
         <div class="skill">
           <div class="content">
             <span>80%</span>
             <span>Comunicación</span>
           </div>
         </div>
   
         <div class="skill">
           <div class="content">
             <span>100%</span>
             <span>Compromiso</span>
           </div>
         </div>
   
       </div>
   </div>
   </section>